.category-title{
    color: white;
}

.category-card{
    width: 45% !important;
    height: 8rem !important;
}

.category-img{
    object-fit: contain;
}

.expiration-card{
    width: 47% !important;
    height: 10rem !important;
}

.expiration-title{
    color: white;
}